<!--The content below is only a placeholder and can be replaced.-->
<div class="jumbotron">
  <div class="page-header text-center"><h3>Registration Page</h3></div>
  <div class="row">
    <form class="form-horizontal" #registerForm="ngForm">
      <div class="form-group">
        <label>Name</label>
        <input type="text" #uname="ngModel" 
        name="model.name" class="form-control" 
        [(ngModel)]="model.name" required>
        <span *ngIf="uname.invalid && uname.touched" class="text-danger">Name is required.</span>
      </div>
      <div class="form-group">
        <label>MailId</label>
        <input type="email" #mail="ngModel" name="model.mailId" [(ngModel)]="model.mailId"
        class="form-control" required>
        <span *ngIf="mail.invalid && mail.touched" class="text-danger">MailId is required.</span>
      </div>
      <div class="form-group">
        <label>Mobile</label>
        <input type="text" #mobile="ngModel" name="model.mobile" class="form-control" 
        [(ngModel)]="model.mobile" required>
        <span *ngIf="mobile.invalid && mobile.touched" class="text-danger">Mobile Number is required.</span>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" #password="ngModel" name="model.password" 
        [(ngModel)]="model.password" class="form-control" required>
        <span *ngIf="password.invalid && password.touched" class="text-danger">Password is required.</span>
      </div>
      <div class="form-group">
        <label>Register as</label>
        <select  name="model.type" #registerAS="ngModel"
        [(ngModel)]="model.type" class="form-control" required>
         <option value="S">Job Seeker</option>
         <option value="C">Company</option> 
        </select>
        <span *ngIf="registerAS.invalid && registerAS.touched" class="text-danger">Register type is required.</span> 
      </div>
      <div class="form-group">
            <button type="button" class="btn btn-primary" (click)="registerUser()">Register</button>
      </div>
    </form>
  
  </div>
</div>


